html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
}

a.active {
  background-color: gray;
}

a.logo-wrapper .fa-twitter {
	color: #0084b4;
}
