html, body{
  @include clearfix;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffcf1+0,fff3cb+47,ffe9a1+100 */
  background: #fffcf1; /* Old browsers */
  background: -moz-linear-gradient(left,  #fffcf1 0%, #fff3cb 47%, #ffe9a1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #fffcf1 0%,#fff3cb 47%,#ffe9a1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #fffcf1 0%,#fff3cb 47%,#ffe9a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf1', endColorstr='#ffe9a1',GradientType=1 ); /* IE6-9 */
}

a.center-aligned > a > img {
	margin-top: 5%;
}

.center-aligned {
  float: none;
  margin: 0 auto;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
