<div class="home-wrapper">
  <div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-8 col-xs-10 center-aligned home-body">
        <form autocomplete="off">
    
          <div class="form-group">
            <input
              class="form-control text-center"
              [value]="searchString"
              (input)="searchString = $event.target.value"
              (keyup.enter)="submitState(searchString)"
              placeholder="Search By Name"
              autofocus>
          </div>
        </form>
      </div>
    </div>

    <div class="home-result">
      <div class="row row-centered">
        <card-result [cardLists]="cardLists"></card-result>
      </div>
    </div>
  </div>
</div>
